* {
    box-sizing: border-box;
}
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}
body {
    font-family: Roboto, Montserrat, Lato, sans-serif;
    background-image: url("images/background_homepag.png");
    color:white;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blur {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding:1em 5em;
    position: fixed;
}

ul {
    list-style:none;
    margin:0;
    padding:1em;
}

li {
    display: inline;
    padding: 0.5em;
    text-align: center;
 }

a { 
    text-decoration: none;
    text-align:right;
    color:white;
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.macro-categorie{
    padding-top: 6em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
}
.contenitore-grande{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 10em; */
    margin-top:15em;
}

main {
    width: 80%;
    margin:0;
    display: flex;
    flex-wrap: wrap;
}

.contenitore{
    width: 100%;
    margin:0;
    justify-content: flex-end;
    padding-bottom:5em;
}
.titolo-sezione-menu{
    padding-left:1em;
}

h2{
   font-size: 1.2em;
}

.ul-side-menu{
    list-style:none;
    margin:0;
    padding-left:0;
    position: fixed;
}

#li-icon-menu{
    display: block;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 10px 10px 0;
    padding:1em 2em;
    margin-bottom:1em;
}

.card-menu{
    background-color:#FFFFFF;
    border-radius: 10px;
    height: 17em;
    width: 300px;
    margin: 1em;
}

.text-menu{
    padding-left: 1em;
}

.nome-piatto{
    padding-top: 1em;
    margin: 0;
    font-weight: 700;
    color: #243C56;
}

.descrizione-piatto{
    font-family: Lato;
    font-size: 0.8em;
    color: #5B6167;
}

/* Questo serve a scrollare nelle card del menu */
.scrolling-wrapper{
    display: flex;
    overflow-x: auto;

    .card-menu{
      flex: 0 0 auto;
    }
  }


footer{
    width: 100%;
    background:#12273F;
    padding: 1em 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.text-footer{
    text-align: center;
    font-size:0.6em;
}
.title-footer{
    padding:3em;
    font-size:1em;
}

.section-footer{
    width: 33%;
}

@media screen and (max-width: 600px) {
    .navbar, .blur{
        flex-direction: column; 
    }
  }


