main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:10em 5em 10em 5em;
    /* padding-top:8em; */
    flex-wrap: wrap;
}
.contenitore{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top:3em;
    margin-bottom: 10em;
    flex-direction: row;
}
.contenitore-blur-info{
    display: flex;
    width: 45%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.4);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding:1em;
    flex-direction: column;
}

.button{
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: #243C56; 
    border: 2px solid white;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
}
  
.button:hover {
    background-color: #243C56;
    border: 2px solid #243C56;
    color: white;
}

.direzione{
    display: flex;
    width: 100%;
    flex-direction: row;
}

p{
    margin:1em;
}
input[type=text], select  {
    height: 37px;
    padding: 8px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    padding: 8px 15px;
    margin: 4px 0.9em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

input[type=orario], select{
    padding: 8px 15px;
    height: 37px;
    margin: 4px 0.9em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}
input[type=number], select {
    padding: 8px 10px;
    height: 37px;
    margin: 4px 0.9em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}
.image{
    height:600px;
}
@media screen and (max-width: 600px) {
.contenitore{
    flex-direction: column;
}

}
