* {
    box-sizing: border-box;
}
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}
body {
    font-family: Roboto, Montserrat, Lato, sans-serif;
    background-image: url("images/background_homepag.png");
    color:white;
    margin: 0;
}

/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

.blur {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding:1em 5em;
    position: fixed;
    z-index: 1;
}

.topnav {
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* z-index: -1; */
}

.topnav a {
    padding: 0.5em;
    font-size: 16px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav .icon {
    display: none;
}

.topnav a.active {
  background-color: blue;
  color: white;
} 

/* ul {
    list-style:none;
    margin:0;
    padding:1em;
}

li {
    display: inline;
    padding: 0.5em;
    text-align: center;
}  */

a { 
    text-decoration: none;
    text-align:right;
    color:white;
}

a.anchor {
  display: block;
  position: relative;
  top: -185px;
  visibility: hidden;
}

.macro-categorie{
    padding-top: 10em;
    padding-bottom: 2.1em;
    display: flex;
    justify-content: space-around;
}

.macro-categorie a:hover {
    border-bottom: 3px solid white;
}

.contenitore-grande{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:9em;
}

main {
    width: 80%;
    margin:0;
    margin-top: -8em;
    display: flex;
    flex-wrap: wrap;
}

.contenitore{
    width: 100%;
    margin:0;
    justify-content: flex-end;
    padding-bottom:10em;
}
.titolo-sezione-menu{
    padding-left:1em;
    padding-bottom: 0.9em;
}

h2{
   font-size: 1.2em;
}
.side-menu{
    margin-bottom: 20em;
}
.ul-side-menu, .ul-side-vini{
    list-style:none;
    margin:0;
    margin-bottom: 10em;
    padding-left:0;
    position: fixed;
    margin-top:-165px;
}

#li-icon-menu{
    display: flex;
    align-items: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 10px 10px 0;
    height: 51px;
    padding:1em;
    margin-bottom:1em;
}

.card-menu{
    background-color:#FFFFFF;
    border-radius: 10px;
    height: 17em;
    width: 300px;
    margin: 1em;
    flex: 0 0 auto;
}

.text-menu{
    padding-left: 1em;
}

.nome-piatto{
    padding-top: 1em;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #243C56;
}

.descrizione-piatto{
    font-family: Lato;
    font-size: 0.8em;
    color: #5B6167;
    padding-right:1em;
}

/* Questo serve a scrollare nelle card del menu */
.scrolling-wrapper{
    display: flex;
    overflow-x: auto;
}


footer{
    width: 100%;
    background:#12273F;
    padding: 1em 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-footer{
    text-align: center;
    font-size:0.6em;
    width: 10em;
    text-align: center;
}
.title-footer{
    font-size:1em;
}

.section-footer{
    width: 33%;
}


/* SEZIONE VINI */
.card-vini {
    background-color:#FFFFFF;
    border-radius: 10px;
    height: 340px;
    width: 194px;
    margin: 1em;
}





/* RESPONSIVE MOBILE- TOPBAR */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative; display: unset;z-index: 2;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 40px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
/* FINE */

/* RESPONSIVE MOBILE- FOOTER */
@media screen and (max-width: 600px) {
    .footer{display: flex;}
    .text-footer {
    width: 100px;
    flex-wrap: wrap;
    justify-content:center;}
}
/* FINE */



@media screen and (max-width: 600px) {
    .macro-categorie a:hover {
        font-weight: 700;
    }
    .ul-side-menu{
        width: 20%;
    }
    .ul-side-vini{
        width: 20%;
    }
    #li-icon-menu{
        padding:0em;
    }
    #sezioni-menu{
        display: none;
    }
    #sezioni-vini{
        font-size:0.6em;
        text-align: left;
        padding-left: 1em;
    }
    .card-menu{
        width: 240px;
        height: 240px;
    }
   .image-menu{
        width: 240px;
    }

    .card-vini{
        width: 150px;
        height: 310px;
    }
    .image-vini{
        width: 150px;
    }
}

