
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style:none;
    margin:0;
    padding:1em;
}

li {
   display: inline;
   padding: 0.5em;
   text-align: center;
}

a { 
    text-decoration: none;
    text-align:right;
    color:white;
}

main {
    margin-top: 10em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section-presentazione{
    padding: 8em 0em 15em 5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-storia{
    padding: 0em 5em 15em 0em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.text-presentazione, .text-storia {
    padding-top:5em;
    width: 400px;
    height: 380px;;
    font-size: 15px;
    font-family: Lato;
}

.text-storia{
    text-align:right;
}

h1{
    font-family: Montserrat;
    font-size:1.5em;
}

.section-staff, .section-skill{
    padding: 0em 5em 10em 5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-staff, .card-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

.image-oblo{
    width: 250px;
}

.card-testo{
    text-align: center;
}

.staff-nome{
    padding: 3em 0em 0.3em 0em;
    margin: 0;
    font-weight: 700;
}

.staff-ruolo{
    margin:0;
}

.staff-text{
    width: 230px; 
}

.card-skill{
    background-color:#B5B5B5;
    background-color: rgba(181, 181, 181, 0.2);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    padding: 4em 0em;
    margin:4em 0em;
    border-radius: 50px 0px;
    z-index: -1;
}

.icon-skill{
    width: 160px;  
}
.skill-nome{
    font-weight: 700;
    padding-top: 2em;
}
.skill-text{
    width: 300px;
}


@media screen and (max-width: 600px) {
    .navbar, .blur{
        flex-direction: column;
        flex-wrap: wrap; 
    }
    .main {
        flex-direction: column;
    }
    .section-presentazione {
        justify-content:center;
        width: 70%;
    }
    .image-presentazione{
        
        justify-content: center;
        align-items: center;
    }
    .text-presentazione, .text-storia {
        text-align: center;
    }

  }
